@model IEnumerable<InstructorListItemVM>
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>

    <h2>Instructors List</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Profession</th>
            <th>SocialMediaLinks</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Profession</td>
        
                @if(item.SocialMediaLinks==null)
                {
                    <td>No Link</td>
                }
                else
                {
                        <td>@string.Join(",",item.SocialMediaLinks)</td>
                }
            <td><a asp-action="Update" asp-area="Admin">Update</a></td>
            <td><a asp-action="Delete" asp-area="Admin">Delete</a></td>
        </tr>
        }

    </table>

</body>
</html>
