@model PaginationVM<IEnumerable<InstructorListItemVM>>
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
    @section Style{
        <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    }
    @section Scripts{
        <script>

            $("#dataTable").on("click", "#prod-pag a", function (ev) {
                ev.preventDefault();
                fetch($(this).attr("href"))
                    .then(res => res.text())
                    .then(data => $("#dataTable").html(data))
            })


        </script>
    }

</head>
<body>

    <h2>Instructors List</h2>
    <h4><a asp-action="Create" asp-area="Admin">Create Instructors </a> </h4>
    <div id="dataTable">
        <partial model="Model" name="_InstructorPaginationPartial" />

    </div>


</body>
</html>
